@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');


:root{
    --silver: #cccbcd;
    --white: #fcfcfc;
    --ultraviolet: #5d5d81;
    --spacecadet: #28222b;
    --periwinkle: #c9c9ee;
}

::selection{
    background: black;
    color: white;
}

body {
    background-color: var(--spacecadet);
    /* space-cadet */
    font-family: "Noto Sans JP", sans-serif;
    font-size: 20px;
    color: var(--silver);    /* white */
    padding: 5%;
}

.container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 80% 20%;
}

.about-me {
    position: fixed;
    grid-column-start: 1;

}

.desc-text {
    padding: 0 5%;
}

.experience-row {
    padding: 5%;
}

@media (max-width: 1200px) {
    .container {
        display: block;
    }
    .about-me {
        position: unset;
    }
    .experience-row {
        padding: 0;
    }
    .desc-text {
        padding: 0;
    }
    .experience-row-header{
        display: flex;
        flex-direction: column;
    }
}



.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff, #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

@keyframes rainbow_animation {

    0%,
    100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

.desc {
    grid-column-start: 2;
}


a{
    color: var(--white);
    /* font-weight: bold;
    text-decoration: underline; */
}

mark{
    /* background: var(--periwinkle); */
    color: var(--white);
    animation: 2s highlight 1s normal forwards;
    font-size: 1.5rem;
    padding: 0 10px;
    background-color: none;
    background: linear-gradient(90deg, var(--periwinkle) 50%, rgba(255, 255, 255, 0) 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
}


.experience-row-header{
    display: flex;
    justify-content: space-between;
    span{
        font-style: italic;
    }
}

.experience-row:hover{
    background: var(--ultraviolet);
    /* filter: brightness(1.4); */
}

.desc .experience .experience-desc {
    display: inline-block;
}

.puppies img {
    width: 100px;
    height: 100px;
}

@keyframes highlight {
    0% {
        background-position: 100% 0;
    }

    30%,
    70% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 0;
        color: black;
        /*Corrected this line for proper ending position*/
    }
}